.header-component {
    width: 1338px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    background-color: green;
    color: white;
}
.header-component ul {
    display: grid;
    grid-template-columns: 50px 100px 100px 200px 100px 50px 80px 80px 80px 80px 50px 100px 50px 120px 80px;
    list-style: none;
    padding: 4px 8px;
    margin: 0;
}
.header-component li {
    padding: 4px 6px;
    text-align: left;
    font-size: 10px;
    white-space: nowrap;
}