.paginationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.paginationButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}